<%# <% unless @entry.errors.full_messages.empty? %>
  <%#   <% @entry.errors.full_messages.each do |message| %>
    <%#     <%= message %>
    <%#   <% end %>
  <%# end %>
  <form action="/" method="POST" class="form-inline">
    <fieldset class="control-group <%= @entry.errors.full_messages.empty? ? '' : 'error' %>">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-tasks"></i></span><input type="text" name="entry[particular]" placeholder="Particular"/>
      </div>

      <div class="input-prepend">
        <span class="add-on"><i class="icon-map-marker"></i></span><input type="text" name="entry[location]" placeholder="Location" />
      </div>

      <div class="input-prepend">
        <span class="add-on">&#8377;</span><input type="text" name="entry[amount]" maxlength="6" placeholder="Amount" class="span1">
      </div>

      <button type="submit" class="btn btn-primary btn-small">Submit</button>
    </fieldset>
  </form>

  <% @entries.each do |month, records| %>
    <h5><%= month %></h5>
    <table cellpadding="20" cellspacing="10" class="table table-striped">
      <tr>
        <th>Particular</th>
        <th>Location</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
      <% records.each do |record| %>
        <tr>
          <td><%= record.particular %></td>
          <td><%= record.location %></td>
          <td><%= record.amount %></td>
          <td><a href="/delete/<%= record.id %>"><i class="icon-trash"></i></a></td>
        </tr>
      <% end %>
    </table>
  <% end %>
